@import url(./_loading/page_background.css);

.page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}