.page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1638913658642-8f22bae3335b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
}


