@import url(./__search/module__search.css);
@import url(./__search-input/module__search-input.css);
@import url(./__search-button/module__search-button.css);

.module {
  position: absolute;
  padding: 2em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: rgb(0 0 0 / 40%);
  max-width: 400px;
  height: 250px;
  width: 100%;
}
